<div class="py-4">
    <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
        <div class="card-header">
            add pordect
        </div>
        <div class="card-body">
           
                <form method="POST"  enctype="multipart/form-data">
                    <div class="form-group row">
                            <div class="col-md-12">
                                <label for="" class=" col-md-4 col-form-label">name</label>
                            <input type="text" class="form-control" name="nameProdect">
                            </div>
                        </div>
                   
                   
                   <div class="form-group row">
                            <div class="col-md-12">
                                <label for="" class=" col-md-4 col-form-label"> title</label>
                            <input type="text" class="form-control" name="titleProdect">
                            </div>
                        </div>
                    

                    <div class="form-group row">
                        
                        <div class="col-md-12">
                            <label for="" class=" col-md-4 col-form-label">price </label>
                            <input type="text" class="form-control" name="priceProdect">
                            </div>
                        </div>
                    

                    <div class="form-group row">
                         <label for="" class=" col-md-4 col-form-label">img </label>
                        <div class="row col-md-12">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Upload</span>
                            </div>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="inputGroupFile01" name="imgProdect" multiple>
                                <label class="custom-file-label" for="inputGroupFile01">Choose img</label>
                            </div>
                        </div>
                        </div>
                    </div>
            
                    <div class="form-group row">
                        <div class="offset-md-4 col-md-8">
                            <button type="submit" class="btn btn-primary">add prodect</button>
                        </div>
                    </div>
                </form>
           
        </div>
        
    </div>
        </div>
    
    </div>
</div>
</div>
