<link rel="stylesheet" href="stylesheets/card.css">
<div class="container-fluid">

    <div class="d-flex justify-content-center">
        <div class="card-box" id="visa-box">
            <div class="card-number">
                <p id="visa-num">################</p>
            </div>
            <div class="card-sms">
                <img src="https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/chip.png"
                    alt="" srcset="">
            </div>
            <div class="card-Expiry-date">
                <p class="exp">expires</p>
                <span id="date_box1">##</span>
                <span>/</span>
                <span id="date_box2">##</span>
            </div>
            <div class="card-name">
                <span>Card holder</span>
                <p id="card-name">################</p>
            </div>
            <div class="card-visa-img">
                <span>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Visa_2014_logo_detail.svg/1280px-Visa_2014_logo_detail.svg.png"
                        alt="" srcset="">
                </span>
            </div>
            <div class="card-box-back" id="visa-back">
                <div class="div"></div>
                <div class="card__secret">
                    <p class="card__secret--last" id="ccv_back">###</p>
                </div>
                <img
                    src="https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/chip.png">
                <div class="card-box-back-visa-img">
                    <img
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Visa_2014_logo_detail.svg/1280px-Visa_2014_logo_detail.svg.png">
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center" style="position: relative;top: 310px;">
        <div class="card text-center">
            <div class="card-header">
                Featured
            </div>
            <div class="card-body">
                <div class="form-group">
                    <form action="" method="POST">
                        <input type="text" id="fname" maxlength="16" class="form-control" name="num">
                        <input type="text" id="ccv" maxlength="3" class="form-control" name="ccv">
                        <input type="text" id="name" class="form-control" name="name">
                        <select name="month" id="select1" class="form-control">
                            <option value=""></option>
                        </select>
                        <select name="years" id="select2" class="form-control">
                            <option value="">{{years}}</option>
                        </select>
                        <button type="submit">out</button>
                </div>
            </div>
            </form>
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>
    </div>
</div>



<script src="javascripts/card.js"></script>